name: Release

on:
  push:
    tags:
      - '*'

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Build source package
        run: dpkg-source -b .
      - name: Upload to OBS
        uses: beavailable/obs-upload@main
        with:
          username: beavailable
          password: ${{ secrets.OBS_PASSWORD }}
          project: home:beavailable
          package: plasma-runner-otp
          files: ../plasma-runner-otp_${{ github.ref_name }}.dsc ../plasma-runner-otp_${{ github.ref_name }}.tar.xz
